.navigation {
	display: flex;
	height: 88px;
	width: 1240px;
	margin: auto;
	justify-content: space-between;
	position: relative;
}

.navigation > svg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
}

.topnav {
	display: flex;
	flex-direction: row;
}

.topnav li {
	display: inline-block;
	vertical-align: middle;
}

.icon, .text {
  vertical-align: middle;
  display: inline-block;
}

.topnav li a.text {
	text-decoration: none;
	color: #8585ad;
}

.topnav li a.active {
	color: #fff !important;
}

.topnav li a.text:hover {
	text-decoration: underline;
}
